@font-face {
    font-family: "Bubblegum";
    src: url("../_fonts/bubblegum-sans-regular.otf") format("OpenType");
}

@font-face {
    font-family: "Computer-Font";
    src: url("../_fonts/computer-font.ttf") format("TrueType");
}

body {
    background-color: #dddddd;
}

div.interface {
    background-color: white;
    min-width: 70vw;
    max-width: 70vw;
    margin: -20px auto -15px auto;
    padding: 20px;
    box-shadow: 0px 0px 5px black;
    position: relative;
}

/*Header*/

header {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    border-bottom: 1px solid black;
    padding-bottom: 6px;
}

header h1 {
    font-family: "Bubblegum";
    font-weight: normal;
    font-size: 3em;
    color: #626262;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.253);
    margin: 0;
}

header h2 {
    font-weight: normal;
    color: #878787;
    margin: 5px 0px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.219);
}

nav.main_menu {
    position: absolute;
    top: 0px;
    left: 45vw;
}

nav.main_menu ul {
    padding: 0px;
}

nav.main_menu ul > li{
    display: inline-block;
    background-color: #dcdcdc;
    padding: 5px;
    border-radius: 2px;
}

nav.main_menu a {
    text-decoration: none;
    color: black;
}

nav.main_menu a:hover {
    text-decoration: underline;
}

/*Header Image*/
#img_header_glass {
    position: absolute;
    top: 60px;
    left: 1142px;
}

/*Navigation Bread Crumbs*/
.crumbs {
    color: gray;
    padding-top: 6px;
}

/*Main Article*/

.main_article {
    width: 57%;
    border-right: 1px solid rgb(136, 136, 136);
    padding: 0px 30px 0px 10px;
}

.main_article h2 {
    font-family: "Bubblegum";
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 0px;
    color: gray;
}

.main_article h3 {
    background-color: #dddddd;
    padding: 5px;
    color: #606060;
}

.main_article h4 {
    margin-top: 5px;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h4 {
    color: gray;
}

#p_last-updated {
    text-align: right;
    padding-right: 15px;
}

a {
    text-decoration: none;
    padding: 3px;
}

a:hover {
    transition-duration: .5s;
    text-decoration: underline;
    background-color: #dddddd;
    border-radius: 3px;
}

/*Main Article Images*/

.picture-frame {
    padding: 10px;
    box-shadow: 1px 1px 5px black;
    width: 600px;
    margin: auto;
    position: relative;
}

.picture-frame figcaption {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    padding-top: 160px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.137);
    opacity: 0;
}

.picture-frame:hover figcaption {
    transition-duration: .5s;
    opacity: 1;
}

figcaption span {
    text-shadow: 0px 0px 2px black;
}

/*Main Article Videos*/

video#one-day {
    width: 100%;
    box-sizing: border-box;
}

/*Main Article Table*/
caption {
    color: gray;
    font-weight: bold;
}

caption sub {
    text-align: right;
}

table {
    border-collapse: collapse;
    margin: auto;
    height: 150px;
    width: 450px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    text-align: right;
    background-color: gray;
    color: white;
}

.main_article p, .side_article p {
    text-indent: 30px;
}


/*Side Article*/
.side_article {
    background-color: #dddddd;
    width: 35%;
    position: absolute;
    top: 228px;
    left: 848px;
    padding: 15px;
}

.side_article h2 {
    font-family: "Bubblegum";
    font-weight: normal;
    font-size: 2em;
    color: #606060;
}

.side_article h3 {
    background-color: #606060;
    padding: 5px;
    color: white;
    margin-bottom: 0px;
}

/*Side Article Videos*/

video#how-it-feels {
    width: 100%;
    box-sizing: border-box;
}

/*Footer*/

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
}