@font-face {
    font-family: "Bubblegum";
    src: url("../_fonts/bubblegum-sans-regular.otf") format("OpenType");
}

body {
    background-color: #dddddd;
}

div.interface {
    background-color: white;
    min-width: 70vw;
    max-width: 70vw;
    margin: -20px auto -15px auto;
    padding: 20px;
    box-shadow: 0px 0px 5px black;
    position: relative;
}

/*Header*/

header {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    border-bottom: 1px solid rgb(136, 136, 136);
    padding-bottom: 0px;
}

header h1 {
    font-family: "Bubblegum";
    font-weight: normal;
    font-size: 3em;
    color: #626262;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.253);
    margin: 0;
}

header h2 {
    font-weight: normal;
    color: #878787;
    margin: 5px 0px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.219);
}

nav.main_menu {
    position: absolute;
    top: 0px;
    left: 45vw;
}

nav.main_menu ul {
    padding: 0px;
}

nav.main_menu ul > li{
    display: inline-block;
    background-color: #dcdcdc;
    border-radius: 2px;
    padding: 5px;
}

nav.main_menu ul > li:hover {
    background-color: #606060;
    transition-duration: .2s;
}

nav.main_menu li:hover a {
    color: white;
    text-decoration: underline;
}

nav.main_menu a {
    text-decoration: none;
    color: black;
}

/*Header Image*/
#img_header_glass {
    position: absolute;
    top: 58px;
    left: 1103px
}

#glass_logo {
    margin-top: 40px;
}

/*Navigation Bread Crumbs*/
.crumbs {
    color: gray;
    padding-top: 6px;
}

.crumbs a {
    color: gray;
    text-decoration: none;
    font-size: .9em;
}

.crumbs a:hover {
    text-decoration: underline;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    border-bottom: 1px solid rgb(136, 136, 136);
    padding-bottom: 15px;
}

/*Main Article*/

.main_article {
    width: 57%;
    border-right: 1px solid rgb(136, 136, 136);
    padding: 0px 30px 0px 10px;
}

.main_article h2 {
    font-family: "Bubblegum";
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 0px;
    color: gray;
}

.main_article h3 {
    background-color: #dddddd;
    padding: 5px;
    color: #606060;
}

.main_article h4 {
    margin-top: 5px;
}

h4 {
    color: gray;
}

#p_last-updated {
    text-align: right;
    padding-right: 15px;
    font-size: .9em;
    color: #808080;
}

.main_article a {
    text-decoration: none;
    color: #626262;
    padding: 3px;
}

.main_article a:hover {
    transition-duration: .5s;
    text-decoration: underline;
    background-color: #dddddd;
    border-radius: 3px;
}

/*Main Article Images*/

.picture-frame {
    padding: 10px;
    box-shadow: 1px 1px 5px black;
    width: 600px;
    margin: auto;
    position: relative;
}

.picture-frame figcaption {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    padding-top: 160px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.137);
    opacity: 0;
}

.picture-frame:hover figcaption {
    transition-duration: .5s;
    opacity: 1;
}

figcaption span {
    text-shadow: 0px 0px 2px black;
}

/*Main Article Videos*/

video#one-day {
    width: 100%;
    box-sizing: border-box;
}

/*Main Article Table*/
caption {
    color: gray;
    font-weight: bold;
}

caption span {
    float: right;
    font-size: .8em;
    
}

table {
    border-collapse: collapse;
    margin: auto;
    height: 150px;
    width: 450px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    text-align: right;
    background-color: gray;
    color: white;
}

.main_article p, .side_article p {
    text-indent: 30px;
}


/*Side Article*/
.side_article {
    background-color: #dddddd;
    width: 35%;
    position: absolute;
    top: 257px;
    left: 848px;
    padding: 15px;
}

.side_article h2 {
    font-family: "Bubblegum";
    font-weight: normal;
    font-size: 2em;
    color: #606060;
}

.side_article h3 {
    background-color: #606060;
    padding: 5px;
    color: white;
    margin-bottom: 0px;
}

/*Side Article Videos*/

video#how-it-feels {
    width: 100%;
    box-sizing: border-box;
}

/*Full-Page Article*/

.full-page_article {
    /*Some code here later*/
}

.full-page_article p {
    text-indent: 30px;
    text-align: justify;
}

/*Full Page Article Images*/

img#glass_esquema {
    margin-left: 150px;
}

/*Floating Panel*/

aside.floating_panel {
    position: absolute;
    top: 402px;
    left: 820px;
    width: 415px;
    padding: 5px;
}

.floating_panel h2 {
    background-color: #606060;
    color: white;
    padding: 5px;
    margin-bottom: 0px;
}

.floating_panel h3 {
    color: gray;
    margin-top: 0px;
}

.floating_panel p {
    text-align: justify;
    text-indent: 30px;
}

/*Floating Panel Image*/

.floating_panel img {
    box-sizing: border-box;
    width: 100%;
}

/*Specs Article Group*/

section.specs_article_group {
    height: 63.5vh;
}

/*Footer*/

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    padding-top: 14px;
}

footer p {
    margin: 4px 0px
}