@font-face {
    font-family: "Bubblegum";
    src: url("../_fonts/bubblegum-sans-regular.otf") format("OpenType");
}

@font-face {
    font-family: "Computer-Font";
    src: url("../_fonts/computer-font.ttf") format("TrueType");
}

body {
    background-color: #dddddd;
}

div.white_bg {
    background-color: white;
    width: 90vw;
    margin: -20px auto -15px auto;
    padding: 20px;
}

header {
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    font-family: "Bubblegum";
    font-weight: normal;
    font-size: 3em;
    color: #626262;
    margin: 0;
}

header h2 {
    font-weight: normal;
    color: #878787;
    margin: 5px 0px;
}

nav.main_menu {
    position: absolute;
    top: 0px;
    left: 69vw;
}

nav.main_menu ul > li{
    display: inline-block;
    background-color: #dcdcdc;
    padding: 5px;
    border-radius: 2px;
}

hr {
    color: #dddddd;
}

.main_article {
    width: 57vw;
    border-right: 1px solid rgb(136, 136, 136);
    padding: 0px 30px 0px 10px;
}

.main_article h2 {
    font-family: "Bubblegum";
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 0px;
    color: gray;
}

.main_article h3 {
    background-color: #dddddd;
    padding: 5px;
    color: #606060;
}

.main_article h4 {
    margin-top: 5px;
}

table {
    border-collapse: collapse;
    margin: auto;
    height: 150px;
    width: 500px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    text-align: right;
    background-color: gray;
    color: white;
}

.main_article p, .side_article p {
    text-indent: 30px;
}

.side_article {
    background-color: #dddddd;
    width: 29%;
    position: absolute;
    top: 19vh;
    left: 65vw;
    padding: 15px;
}

.crumbs {
    color: gray;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h4 {
    color: gray;
}

#p_last-updated {
    text-align: right;
    padding-right: 15px;
}