form {
    width: 500px;
    margin: auto;
}

form section {
    border: 1px solid darkgray;
    margin: 0px 0px 25px 0px;
    padding: 10px 10px 10px 10px;
    position: relative;
}

form section h3 {
    background: white;
    color: gray;
    font-size: 1.1em;
    margin: 0px;
}

div#credencials {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

div#credencials input {
    margin: 5px;
}

input#input_passw {
    width: 100px;
}

div#email {
    padding-top: 10px;
    background: url("../_imagens/icone-contato.png") no-repeat right/contain;
}

#form_sex {
    border: 1px solid darkgray;
    padding: 5px;
    width: 130px;
    height: 70px;
    margin: 20px 0px 20px 20px;
    text-align: left;
}

section#address {
    background: url("../_imagens/icone-endereco.png") no-repeat right/30%;
}

select#state, input#city {
    margin: 10px 5px 5px 0px;
}

section#msg-form {
    background: url("../_imagens/icone-mensagem.png") no-repeat right/contain;
}

input#msg {
    margin-top: 5px;
    margin-bottom: 5px;
}

section#purchase {
    background: url("../_imagens/icone-pagamento.png") no-repeat right/contain;
}

section#purchase input {
    margin: 5px;
}

form input#send-button {
    background: url("../_imagens/botao-enviar.png") no-repeat center/128px 53px;
    height: 27px;
    width: 110px;
    padding: 0px;
    
}
