/*Passion One Regular*/
@font-face {
    font-family: "Passion One";
    src: url("../fonts/passion-one/PassionOne-Regular.otf") format("OpenType");
}

/*SF Cartoonist Hand Bold Italic*/
@font-face {
    font-family: "Cartoonist Hand";
    src: url("../fonts/SF-Cartoonist-Hand/SF_Cartoonist_Hand_Bold_Italic.ttf") format("TrueType");
}

header {
    background: black;
    color: white;
    text-align: center;
    margin: -21px -8px 0px -8px;
    padding: 50px 0px;
}

header h1 {
    font-family: "Passion One";
    font-size: 5vw;
    margin-bottom: 0px;
}

header p {
    font-family: sans-serif;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

main p {
    font-family: "Cartoonist Hand";
    /* font-size: 30px; */
    font-size: 2vw;
    padding-left: 30px;
}

#bg01 {
    background-image: url("../img/background001.jpg"), url("../img/background002.jpg");
    background-attachment: fixed;
    background-position: center center;
}

#bg02 {
    background-image: url("../img/background002.jpg");
    background-attachment: fixed;
}

section {
    padding: 5px 0px;
}

#sept01, #sept03, #sept04, #sept06, #sept07 {
    background-color: white;
}

.white-text {
    color: white;
    background-color: rgba(0, 0, 0, 0.466);
    width: 21vw;
    margin-left: 30px;
    border-radius: 5px;
}

.white-text > p {
    padding-left: 3px;
}

footer {
    background-color: black;
    margin: 0px -8px -8px -8px;
}

footer p {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    margin: 0px;
    padding: 5px;
}